#myDIV {
    width: 100%;
    padding: 10px 0;
    text-align: left;
    background-color: lightblue;
    margin-top: 20px;
}
#myDIVProfile{
	width: 100%;
    padding: 10px 0;
    text-align: left;
    background-color: lightblue;
    margin-top: 20px;
}
#myDIVProfile1{
	width: 100%;
    padding: 10px 0;
    text-align: left;
    background-color: lightblue;
    margin-top: 20px;
}